@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-size: 62.5%;
} */

.pub-popup .leaflet-popup-content-wrapper {
  @apply rounded border-l-4 border-solid border-green-600 bg-slate-300 pl-2 text-2xl text-gray-700;
}

.pub-popup,
.brewery-popup .leaflet-popup-tip {
  @apply bg-slate-300;
}

.brewery-popup .leaflet-popup-content-wrapper {
  @apply rounded border-l-4 border-solid border-red-600 bg-slate-300 pl-2 text-2xl text-gray-700;
}

.pub-popup .leaflet-popup-tip {
  @apply bg-slate-300;
}

.form__row--hidden {
  display: none;
}

.tap--pub {
  @apply border-l-[5px] border-green-600;
}

.tap--brewery {
  @apply border-l-[5px] border-red-600;
}

.switch {
  @apply relative inline-block h-6 w-12;
}

.switch input {
  @apply h-0 w-0 opacity-0;
}

.slider {
  @apply duration-400 absolute inset-0 cursor-pointer rounded-full bg-gray-300 transition-all;
}

.slider:before {
  content: '';
  @apply duration-400 absolute bottom-0.5 left-0.5 h-5 w-5 rounded-full bg-white transition-all;
}

input:checked + .slider {
  @apply bg-green-400;
}

input:checked + .slider:before {
  transform: translateX(1.5rem);
}
